/* Header */
header .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 105px;
    height: 29px;
    
    margin: 10px 5px;

    cursor: pointer;
}
header nav a{
    color:#AAA;
    text-decoration:none;

    margin-right: 10px;
}
header nav a:hover{
    color:white;
}