/* Padrão */
:root{
    --red-netflix:#E50914;
    --black-netflix:#141414;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   background: var(--black-netflix);
   font-family: 'Arial', Times, serif;
   color:white;
}